.navMenu {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 4px 8px;
  font-weight: 600;
  color: #2a363b;
}

.active {
  color: #eb911c;
}
