.wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.delete {
  background-color: rgb(243, 241, 234);
  border: none;
  padding: 6px;
  border-radius: 6px;
}
.delete:hover {
  background-color: rgb(207, 69, 69);
}
.btn_wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.edit {
  color: #193e6d;
  border: none;
  background-color: rgb(243, 241, 234);
  border-radius: 6px;
  padding: 2px;
}
