.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
  box-sizing: border-box;
  margin: 32px auto;
  font-family: Arial, Helvetica, sans-serif;
}
.button {
  padding: 8px;
  margin: 8px auto;
  border: none;
  border-radius: 6px;
  background-color: rgb(149, 216, 194);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.button:hover {
  background-color: rgb(123, 194, 170);
}
.error {
  font-size: 12px;
  color: rgb(190, 64, 64);
}
.input {
  border: 1px solid olivedrab;
  border-radius: 4px;
  padding: 4px 8px;
}
.errorInput {
  border: 2px solid red;
  outline: none;
}
